$prymari-color:#06283D;
$secondery-color:#256D85;
$sky-color:#47B5FF;
$sky-color-light: #DFF6FF;
$white-color:#fff;
$black-color:rgb(27, 27, 27);
$text-black-color:rgba(0, 0, 0, 0.712);
$box-sdo:4px 4px 10px 0px #0000001a;