@import "../../veriables/mixn.scss";
@import "../../veriables/veriables.scss";
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

footer{padding: 2rem  0; background-color: #255946; color: $white-color; .footer_wrap{display: grid;grid-template-columns: repeat(3,1fr); align-items: flex-start ; justify-items: center; 
.items{img{width: 15%;} h1{font-size: 1.7rem; font-weight: 700; text-transform: uppercase; letter-spacing: 0.50px;padding-bottom: 1rem; }
.social_icon{
    margin: 2rem 0;
    li{display: inline;padding-right: 0.5rem; & a{background-color: $prymari-color;color: $white-color; padding: 0.8rem 1rem;font-size: 1.1rem; i{padding: 0;}}
}
}
ul{li{ padding-bottom: 0.5rem ;i{padding-right: 0.5rem;}}
}
}
}
.foote_btm{
    border-top: 1px solid $white-color;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    p{font-size: 1rem; font-weight: 600; a{font-family: 'Libre Barcode 39 Text', cursive; font-size: 1.2rem; font-weight: 500;}}
}
}