@import "../../veriables/mixn.scss";
@import "../../veriables/veriables.scss";

.contact{
    padding: 10rem 0 ;

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15rem ;
    padding: 0 5rem 5rem;
    background-color: $sky-color-light;
    border-radius: 5px;
    .input{
        width: 100%;
        margin-bottom: 3rem;
        border-bottom:#fff;
    }
    .btton{
        width: 100%;
        background-color: $sky-color;
        text-align: center;
       
    }
    h1{
        @include headingMix(3rem,700,#000,0.25px)
    }
}
}